<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goals</title>
    <link rel="stylesheet" href="goals.css">
</head>
<body>
    <div class="header">
        <h1>worldlang</h1>    
    </div>

    <div class = "navbar">
        <a href="../profile/profile.html">Profile</a>
        <a href="/goals">Goals</a>
        <a href="../arabic/arabic.html">Arabic</a>
        <a href="../chinese/chinese.html">Chinese</a>
        <a href="../german/german.html">German</a>
        <a href="../spanish/spanish.html">Spanish</a>
        <a id="logoutBtn">Log out</a>
    </div>
    <div class="goals">
        <h2>GOALS</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Task</th>
                <th>Delete</th>
            </tr>
            <% data.forEach(element=> { %>
            <tr>
                <td><%=element.todoId %></td>
                <td><%= element.todoTask %></td>
                <td>
                    <form action="/delete" method="POST">
                        <input type="hidden" name="todoId" value="<%= element.todoId %>">
                        <input type="hidden" name="todoTask" value="<%= element.todoTask %>">
                        <button class="delete" type="submit">❌</button>
                 </form>
                </td>
            </tr>
            <% }) %>
            <form action="/" method="POST">
                <input type="text" name="todoTask" placeholder="Enter Task">
                <button type="submit">Add</button>
             </form>
        </table>
    </div>
</body>
</html>
